html {
    height: 100%;
    box-sizing: border-box;
  }
 
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
  }
 
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
 
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", "sans-serif";
    font-size: 18px;
    line-height: normal;
  }
 

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
  }

  .container{
    width: 1320px;
    padding: 20px 20px;
    margin: 0 auto;
  }

 /* Header */

  .header{
    margin: 40px 20px;
  }

  .header .container{
    display: flex;
    justify-content: space-between;
  }

  li,a{
    text-decoration: none;
    list-style: none;
  }

  .nav__list{
    display: flex;
     margin: 0;
     padding: 0;
  }
  
  .nav__item{
    margin: 0;
    padding: 0;
    display: flex;
    padding-left: 40px;
  }

  .header__link{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    color: darkslategray;
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.9230769276618958px;
    text-align: center;
  }
  .header__link:hover{
    color: green;
  }
  /* Main */
  .hero .container{
    background-image: url(../img/Bitmap.png);
    background-repeat: no-repeat;
    width: 1280px;
    height: 600px;
    top: 113px;
    left: 80px;
  }
  
  .nav-list{
    width: 493px;
    height: 367px;
    padding-top: 230px;
    padding-left: 165px;
    
  }

  .hero__heading{
    font-family: "Fraunces";
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    width: 493px;
    height: 145px;
    margin-bottom: 40px;
  }

  .hero__text{
    font-family:" Barlow";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    width: 550px;
   height: 78px;
   color: white;
   margin-bottom: 140px;
  }

  .button{
    width: 217px;
    height: 56px;
    font-size: 24px;
    top: 541px;
    left: 165px;
    background-color: #66d2c6;
  }

  /* Cofee */

  .cofee .container{
    background-image: url(../img/orqafon.png);
    background-repeat: no-repeat;
    margin-top: 100px;
   margin-bottom:80px;
  }

 
  .heading{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
  }
  .up{
    background-image: url(../img/orqafon.png);
    margin-top: 100px;
   margin-bottom:80px;
  }
  .cofee--item{
    margin-top: 100px;
  }


  .cofee--heading{
    font-family:" Fraunces";
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
  }


  .cofee--text{
    font-family: "Barlow";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    width: 255px;
    height: 78px;
    top: 56px;
  }
 
/* Card */

  .card .container{
    margin-top: 80px;
  }


  .card--div{
    background-color:#333d4b;
    width: 1280px;
    height: 577px;
    top: 1574px;
    left: 80px;
    
  }

  .card--heading{
    margin: 0;
    padding: 0;
    padding-top: 80px;
    font-family: "Fraunces";
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
  }

  .card--text{
    margin: 0;
    padding: 0;
    width: 840px;
    height: 80px;
    font-family:" Barlow";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    color: white;
    padding-left:450px ;
    text-align: center;
    margin-top: 20px;
  }

  .card--list{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    transform: translateY(-180px);
    margin-left: 0px;

  }

  .card--item{
    padding-left:40px;
    background-color:#0e8784;
    border-radius: 24px;
    width: 350px;
    height: 382px;
    top: 1920px;
    left: 545px;
  }

  .card--img{
    width: 71px;
    height: 72px;
    margin-top: 69px;
    margin-left: 90px;
    color: #FDD6BA    ;
  }

  .card--item2{
    font-family:" Fraunces";
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    width: 255px;
    height: 32px;   
    color: white; 
  }

  .card--text2{
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    width: 255px;
    height: 78px;
     top: 56px;
    color: white;
  }

/* Pick */

  .pick--list{
    display: grid;
    grid-template-columns:repeat(3,1fr);
  }

  .pick--item1{
    margin: 0;
    padding: 0;
    width: 255px;
     height: 32px;
    font-family:" Fraunces" ;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 150px;
  }

  .pick--hr{
    color: #FDD6BA;
    width: 1300px;
    height: 5px;
    margin-bottom: 180px;
  }

  .pick--item{
    padding-left: 60px;
  }

.pick--heading{
  font-family:" Fraunces";
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  width: 255px;
  height: 73px;
  top: 110px;
  margin-bottom:40px;
}

.pick--text{
  font-family:" Barlow";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  width: 285px;
  height: 130px;
  top: 225px;
}

/* Footer */

.footer{
  background-color:black;
  margin-top: 80px;
}

.footer .container{
  display: flex;
 
}

.footer--list{
  display: flex;
  margin-top:10px;
}
 
.footer--item{
  margin-left: 60px;
}

.footer--ikon{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-left: 240px;
}

.footer--ikon:hover{
 background-color:blue;
}

.footer--link{
  color: #333d4b;
}

.footer--link:hover{
  color: white;
}